:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  padding: 0 2.25rem;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: content-box;
  background-color: var(--violet);
  background-image: url('/bg-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding-top: 2.375rem;
}

.header__image {
  width: 120px;
}

.main {
  margin-top: 4.25rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3.75rem;
}

.main__title {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.main__text {
  line-height: 1.5;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  background-color: white;
  color: var(--violet);
  margin-top: 1.5rem;
  padding: 0.75rem 4.75rem;
  border-radius: 25px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-decoration: none;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: var(--soft-magenta);
  color: white;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 0.75rem;
}

.footer__item {
  font-size: 0.75rem;
  text-decoration: none;
  border: 1px solid white;
  color: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.2s, color 0.2s;
}

@media (min-width: 1280px) {
  body {
    background-image: url('/bg-desktop.svg');
  }

  .header {
    padding-top: 4rem;
  }

  .header__image {
    width: 200px;
  }

  .main {
    flex-direction: row;
    margin-top: 6.5rem;
    margin-bottom: 1.625rem;
    text-align: left;
    align-items: center;
  }

  .main__title {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }

  .main__text,
  .btn {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .main__text {
    margin-top: 1.5rem;
  }

  .btn {
    font-size: 0.875rem 4rem;
  }

  .footer {
    justify-content: end;
    gap: 1rem;
  }

  .footer__item {
    width: 40px;
    height: 40px;
    font-size: 1.125rem;
  }

  .footer__item:hover {
    border-color: var(--soft-magenta);
    color: var(--soft-magenta);
  }
}
